<div class="furniture-item">
    <img src="/src/assets/{{ furniture.img }}" alt="furniture">
    <div class="furniture-item__info">
        <div class="furniture-item__head">
            <h3>{{ furniture.name }}</h3>
            <div class="furniture-item__action-btns">
                <button aria-label="Add to favorite" class="furniture-item__action-btn">{% render 'icons/heart.liquid' %}</button>
                <button aria-label="Share" class="furniture-item__action-btn">{% render 'icons/share.liquid' %}</button>
            </div>
        </div>
        <div class="furniture-item__footer">
            <p class="furniture-item__price">${{ furniture.price }}</p>
            <button class="furniture-item__buy-btn" aria-label="Buy">Buy Now</button>
        </div>
    </div>
</div>